/* Header */

@mixin anclas {
    text-decoration: none;
    color: $color-blanco;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    box-shadow: 0px 2px 4px $color-blanco;

    h1 {
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 1px 1px 2px $color-blanco;
        font-size: 2.5rem;
    }
}

.boton {
    background-color: $color-negro;
    color: $color-fafa;
    font-weight: 700;
    border: $color-blanco 1px solid;
    padding: 10px 20px;
    font-size: 1.2rem;
    margin-bottom: 10px;

    &:hover {
        background-color: $color-gris;
        color: $color-fafa;
        cursor: pointer;
    }
}

.encabezado li {
    list-style-type: none;
    display: inline-block;

    a {
        @include anclas;
        margin: 10px;
        font-size: 1.5rem;
    }
}

.hover:hover {
    color: $color-tan;
}

.logo {
    width: 150px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

a {
    @include anclas;
    text-transform: uppercase;
    font-weight: bold;
}