.contenedorBuzos {
    margin: 10px;
    border: 4px solid $color-negro;
    border-radius: 10px;
}

.imgBuzo {
    display: block;
    width: 20%;
    height: auto;
    margin: auto;
}

.contenedorBuzos {
    background-color: black;
    text-align: center;
    color: grey;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}


.contenedorBuzos {
    grid-template-columns: 1fr 1fr;
}